{% extends 'books/base.html' %}

{% block title %}Returns & Refunds - BiblioTrack{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Returns & Refunds</h1>
        <p>We accept returns within 7 days of delivery for eligible items in original condition. To initiate a return, contact our support team with your order ID and reason for return.</p>
        <h4>Refunds</h4>
        <p>Refunds are processed within 7-14 business days after we receive and inspect the returned item.</p>
    </div>
</div>
{% endblock %}
